* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    html::-webkit-scrollbar {
        display: none;
    } 

body {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    body::-webkit-scrollbar {
        display: none;
    } 

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

/* ========================Header=========================== */

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 82px;
}

.header_link:active {
    background-color: #06A44F1A;
    border-radius: 4px;
    border: 1px solid #06A44F
}

.header_list {
    max-width: 376px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_links {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #181C29;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.header_links:hover {
    color: #FF4646;
    background-color: #FF46461A;
}

.header_links:active {
    background-color: #06A44F1A;
    border-radius: 4px;
    border: 1px solid #06A44F;
    color: #000;
}

.hiddin {
    display: none;
}

@media(max-width: 768px) {

    .hiddin {
        display: block;
    }

    .hidden {
        display: none;
    }

    .header .container {
        padding: 12px 8px;
    }

    .header_menu {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .header_menu:active {
        background-color: #06A44F1A;
        border-radius: 4px;
        border: 1px solid #06A44F;
    }

    .header_close {
        background: #fff;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .header_close:active {
        background-color: #06A44F1A;
        border-radius: 4px;
        border: 1px solid #06A44F;
    }

    .header_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        gap: 24px;
    }
}

/* ==========================Hero========================== */

.hero .container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 700px;
    background: url('./img/thumbnail.png') center center / cover no-repeat;
    border-radius: 20px;
}

.hero_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.hero_text {
    font-family: 'Allura';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.hero_heading {
    width: 430px;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase; 
}

.hero_btn {
    width: 235px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(24, 28, 41, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.hero_btn:hover {
    color: rgba(24, 28, 41, 1);
    background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    
}

/* ===========================About======================== */

.about .container {
    padding: 60px 0;
    justify-content: center;
    display: flex;
    background: url('./img/qor.png') no-repeat;
    background-color: #FF4646;
    transform: translateY(-180px);
}

.about_box {
    background-color: #fff;
    max-width: 1276px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-between;
    gap: 60px;
}

.about_flex {
    margin-left: 60px;
    width: 426px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about_img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}


.about_span {
    font-family: 'Allura';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(255, 70, 70, 1);
}

.about_heading {
    max-width: 426px;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: left;
    color: rgba(24, 28, 41, 1);
    text-transform: uppercase;
}

.about_text {
    max-width: 426px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    color: rgba(24, 28, 41, 1);
}

.about_tablet {
    display: none;
}

@media (max-width: 1011px) {
    .about_heading {
        width: 256px;
    }

    .about_text {
        width: 256px;
    }
}

@media (max-width: 768px) {
    .about_tablet {
        display: block;
    }

    .about_img {
        display: none;
    }

    .about_box {
        gap: 20px;
    }

    .about_heading {
        max-width: 256px;
        width: 100%;
    }

    .about_text {
        max-width: 256px;
        width: 100%;
    }
}

@media (max-width: 580px) {
    .about_box {
        flex-direction: column;
        margin: 0 8px;
    }

    .about_flex {
        padding: 60px 20px;
    }

    .about_heading {
        max-width: 324px;
        width: 100%;
    }

    .about_text {
        max-width: 324px;
        width: 100%;
    }
}

/* ===============================New============================= */

.new .container {
    max-width: 1440px;
    background: url('./img/qor.png') no-repeat;
    background-color: #FF4646;
    padding-top: 60px;
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 250px;
}

.new_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.new_heading {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.new_img {
    max-width: 1358px;
    width: 100%;
    position: absolute;
    top: 150px;
    right: 0;
    height: auto;
    width: auto;
}

.new_flex {
    padding: 0 82px;
    display: flex;
    justify-content: end;
    gap: 20px;
    transform: translateY(220px);
}

.new_flex button:hover {
    border: 1px solid #fff;
}

.new_left {
    color: rgba(255, 255, 255, 0.4);
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    padding: 16px;
    border-radius: 20px;
    outline: none;
}

.new_right {
    color: rgba(255, 255, 255, 0.4);
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    padding: 16px;
    border-radius: 20px;
    outline: none;
}

@media (max-width: 1271px) {
    .new_img {
        left: 8px;
    }
}

@media (max-width: 768px) {
    .new_flex {
        padding: 0 8px;
    }
}

/* ========================Best======================== */

.best .container {
    max-width: 1440px;
    background: url('./img/qor.png') no-repeat;
    background-color: #FF4646;
    padding-top: 120px;
    transform: translateY(-200px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 60px;
}

.best_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.best_list {
    max-width: 1276px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 0 auto;
}

.best_item {
    max-width: 310px;
    width: 100%;
    background-color: rgba(236, 243, 248, 1);
    border-radius: 20px;
}

.best_bg {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 0px 44px 20px;
    border-radius: 20px;
}

.pd_err {
    padding-bottom: 19px;
}

.best_texts {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgba(67, 97, 255, 1);
    text-transform: uppercase;
}

.green {
    color: rgba(6, 164, 79, 1);
}

.pink {
    color: rgba(255, 67, 247, 1);
}

.best_heading {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #181C29;
    text-transform: uppercase;
}

@media (max-width: 1245px) {
    .best_list {
        max-width: 632px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin: 0 auto;
    }
}

@media (max-width: 655px) {
    .best_list {
        display: flex;
        flex-direction: column;
    }
}

/* ========================Date======================== */

.date .container {
    width: 100%;
    max-width: 1440px;
    height: 668px;
    transform: translateY(-200px);
    background: url('./img/hoooooo.png') no-repeat center center;
    background-color: #FF4646;
    background-size: cover;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.date_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.date_text {
    width: 428px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.date_flex {
    display: flex;
    max-width: 344px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8px 12px 12px 12px;
    border-radius: 20px;
    transform: translateY(-12px);
}

.date_heading {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    color: #fff;
    padding: 8px;
}

.flex_text {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.date_line {
    width: 0;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: translateY(20px);
}

.flex_box {
    width: 80px;
    text-align: center;
}

@media (max-width: 436px) {
    .date_text {
        width: 364px;
    }
}

/* ==========================Footer========================== */

.footer .container {
    max-width: 1276px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-140px);
}

.footer_list {
    display: flex;
    align-items: center;
   gap: 12px;
    margin-bottom: 60px;
}

.footer_item {
    max-width: 417.33px;
    background-color: rgba(236, 243, 248, 1);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.footer_item:hover {
    color: #FF4646;
}

.footer_item:active {
    background-color: rgba(6, 164, 79, 0.1);
    color: #181C29;
    border: 1px solid rgba(6, 164, 79, 1)
}

.footer_item img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.footer_heading {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
}

.footer_text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
}

.footer_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.footer_flex {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.footer_flex img {
    cursor: pointer;
}

.footer_p {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}

.footer_text_p {
    font-family: 'Allura';
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
}

@media (max-width: 1010px) {
    .footer_list {
        flex-direction: column;
    }

    .footer_item {
        max-width: 752px;
        width: 100%;
    }
}